<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="AppController as ctr">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 ng-hide="ctr.shown=='url'">
					<small>Top visited pages on week of </small>{{ctr.date}}
				</h1>
				<h1 ng-hide="ctr.shown=='date'">
					<small>Top visited pages on for   </small>{{ctr.page}}
				</h1>
			</div>
			<div class="alert alert-info" role="alert"
				ng-hide="items && items.length > 0">There are no visits on
				that week.</div>
			<div class="panel-body">

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">Day in
						week</span> <input type="text" class="form-control" ng-model="ctr.date"
						placeholder="2016-02-08" /> <span class="input-group-btn">
						<button class="btn btn-default" type="submit" title="Refresh"
							data-ng-click="ctr.findVisitByDate()">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
					</span> <span class="input-group-addon" id="basic-addon4">Get by
						Url</span> <input type="text" class="form-control" ng-model="ctr.page"
						placeholder="www.google.com.au" /> <span class="input-group-btn">
						<button class="btn btn-default" type="submit" title="Refresh"
							data-ng-click="ctr.findVisitByURL()">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
					</span>

				</div>
				<table class="table">
					<thead>
						<tr>
							<td>URL</td>
							<td>Visits</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
							<td>{{item.url}}</td>
							<td>{{item.visits}}</td>
						</tr>

					</tbody>
				</table>

			</div>
			<div class="panel-footer">Created by Luis Tobon</div>
		</div>
	</div>
	<script type="text/javascript"
		src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript"
		src="./bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="./app/app.js"></script>
	<script type="text/javascript" src="./app/controllers.js"></script>
	<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>